av==10.0.0 ; python_version >= "3.9" and python_version < "4.0"
colorzero==2.0 ; python_version >= "3.9" and python_version < "4.0"
gpiozero==1.6.2 ; python_version >= "3.9" and python_version < "4.0"
imageio-ffmpeg==0.4.8 ; python_version >= "3.9" and python_version < "4.0"
imageio==2.31.1 ; python_version >= "3.9" and python_version < "4.0"
numpy==1.19.5 ; python_version >= "3.9" and python_version < "4.0"
pillow==9.5.0 ; python_version >= "3.9" and python_version < "4.0"
pygame==2.5.0 ; python_version >= "3.9" and python_version < "4.0"
pyserial==3.5 ; python_version >= "3.9" and python_version < "4.0"
pyaudio==0.2.13 ; python_version >= "3.9" and python_version < "4.0"
setuptools==68.0.0 ; python_version >= "3.9" and python_version < "4.0"
