numpy==1.19.5 ; python_version >= "3.9" and python_version < "4.0"
pygame==1.9.6 ; python_version >= "3.9" and python_version < "4.0"
pyserial==3.5 ; python_version >= "3.9" and python_version < "4.0"
